# Editor/OS
.vscode/
.DS_Store
Thumbs.db

# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb

# Common LaTeX outputs (usually generated)
main.pdf
